<!doctype html>
<html ng-app="myApp">
  <head>
    <title>My App</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
   
  </head>
  <body ng-controller="todocontroller">
  
  	<div class="container">
  		<div>
	  		<h3 class="text-center">{{title}}</h3>
	  		<button class="btn btn-success pull-right" ng-click="createuser();">Create new user</button>
  		</div>
	  	<div class="row">
	  		<div class="col-md-12">
	  			<table class="table table-bordered table-striped">
	  				<thead>
	  					<tr>
	  						<td>Name</td>
	  						<td>Email</td>
	  						<td>Phoneno</td>
	  						<td>Age</td>
	  						<td>Information</td>
	  						<td>Edit</td>
	  					</tr>
	  				</thead>
	  				<tbody>
	  				<tr ng-repeat="contact in contact_details">
	  				<td>{{contact.name}}</td>
	  				<td>{{contact.email}}</td>
	  				<td>{{contact.phno}}</td>
	  				<td>{{contact.age}}</td>
	  				<td>{{contact.info}}</td>
	  				<td><button class="btn btn-default" ng-click="editvalue();"><span class="glyphicon glyphicon-edit" aria-hidden="true">Edit</button></td>
	  				</tr>
	  			</tbody>
	  			</table>
	  		</div>
	  	</div>
	  	<!-- <div class="row">
	  		<p>{{x1}}</p>
	  		<p>{{x2}}</p>
	  		<p>{{x3}}</p>
	  		<p>{{x4}}</p>
	  		<p>{{x5}}</p>
	  	</div> -->
	</div>
  <script src="js/app.js"></script>
  <script src="js/controllers/mycontroller.js"></script>
  	<script src="js/controllers/todocontroller.js"></script>
  </body>
</html>